html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 1.5rem;
  background-color: #f2f2f2;
}

section {
  float: left;
  width: 25%;
  min-width: 225px;
  display: inline-block;
  text-align: center;
  padding: .75rem;
  text-decoration: none;
  color: #000;
  border-left: solid;
  border-width: 1px;
  border-color: #000;
  min-height: 26rem;
}

h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: 900;
  margin: 0 0 1.5rem;
}

img {
  display: block;
  margin: 0 auto 1.5rem;
  width: 100px;
}

h2, p, div {
  text-align: left;
}

h2 {
  font-size: 1rem;
  font-weight: 900;
  margin: 0;
}

h3 {
  margin: 0;
}

.card1 {
  background-color: #e2e2e2;
}

.card2 {
  background-color: #ccc;
}

.card3 {
  background-color: #aaa;
}

.card4 {
  background-color: #999;
  border-right: solid;
  border-width: 1px;
  border-color: #000;
}

p {
  margin: 0 0 1em;
}

.author {
  font-size: .875em;
  font-style: italic;
}

.btn {
  display: inline-block;
  padding: .75rem;
  margin: 0;
  background-color: #333;
  font-size: .875rem;
  color: #fff;
  border-radius: 6px;
}

.btn:hover {
  background-color: #000;
}

.btn-small {
  font-size: .875rem;
}
